<p>board works!</p>

<div style="width: 100%; height: 100%;" class="swiper-wrapper">
    <swiper class="swiper-container" [config]="config">
        <div *ngFor="let slide of slides" class="swiper-slide">
            <div style="width: 100%; height: 100%; text-align: center;">
                {{slide}}

                <div class="card text-center">
                    <div class="card-header">
                        {{slide}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{slide}}</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            {{slide}}</p>

                    </div>
                    <div class="card-footer text-muted">
                        {{slide}}
                    </div>
                </div>


            </div>
        </div>
    </swiper>
</div>